.Contact {
  position: relative;
  color: white;
  padding: 0 8vw;
}

.contactInfoWrapper {
  display: flex;
  justify-content: space-between;
  padding: 5vh 0;
}

.pictureMapWrapper {
  padding: 5vh 0;
}

.buildingPhoto {
  width: 31vw;
  height: 23vw;
  border-radius: 3px;
  border: 1px solid #717171;
  display: inline-block;
  float: right;
}

.map {
  width: 31vw;
  height: 23vw;
  border-radius: 3px;
  border: 1px solid #717171;
  display: inline-block;
}

.googleMarker {
  width: 80px;
  height: auto;
  border-radius: 20px;
}

.contactInfo {
  text-align: center;
  h3, p:not(:last-child) {
    margin-bottom: 12px;
  }
}

.icons {
  display: flex;
  margin: 10vh auto 0 auto;
  width: 200px;
  justify-content: space-around;
  i {
    border: 2px solid #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    text-align: center;
    line-height: 35px;
    &:before {
      font-size: 15px;
    }
    &:hover {
      cursor: pointer;
      color: #969696;
      border-color: #969696;
    }
  }
}