@import '../../global_styles/mixins';

.Description {
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.contentWrapper {
  width: 60vw;
}

.heading {
  text-align: center;
  @include heading(2rem);
}

.underlining {
  width: 80px;
  border-bottom: none;
  margin-bottom: 15vh;
}

.text {
  text-align: center;
  @include text();
}

.color-white {
  color: white;
}

.color-dark {
  color: #333333;
}

.underlining-blue {
  border: 11px solid $logo-primary-color;
}

.underlining-yellow {
  border: 11px solid $logo-secondary-color;
}