@import '../../global_styles/mixins';

.Description {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-size: cover;
  background-position: center center;
  @media only screen and (max-width: 650px) {
    background-attachment: scroll !important;
  }
}

.contentWrapper {
  width: 60vw;
  @media only screen and (max-width: 650px) {
    width: 90vw;
  }
}

.heading {
  text-align: center;
  @include heading(2rem);
  @media only screen and (max-width: 650px) {
    @include heading(1.4rem);
    text-align: center;
  }
}

.underlining {
  width: 80px;
  border-bottom: none;
  margin-bottom: 10vh;
}

.text {
  @include text();
  @media only screen and (max-width: 650px) {
    font-size: .85rem;
  }
}

.color-white {
  color: white;
}

.color-dark {
  color: #333333;
}

.underlining-blue {
  border-bottom: 11px solid $logo-primary-color;
  @media only screen and (max-width: 950px) {
    border-bottom: 8px solid $logo-primary-color;
  }
}

.underlining-yellow {
  border-bottom: 11px solid $logo-secondary-color;
  @media only screen and (max-width: 950px) {
    border-bottom: 8px solid $logo-secondary-color;
  }
}
