@import '../../global_styles/_variables.scss';

.Header {
  position: fixed;
  width: 100%;
  background: linear-gradient(to bottom right, #ffffff 9%, #080b10 123%);
  color: antiquewhite;
  z-index: 5;
}

.arrow {
  position: absolute;
  width: 35px;
  height: 48px;
  line-height: 31px;
  text-align: center;
  top: 83px;
  color: #fecc00;
  right: 21px;
  background: #1b398f;
  font-family: Arial Narrow, Arial, sans-serif;
  font-weight: 200;
  font-size: 5.5rem;
  cursor: pointer;
  border: 1px solid #5f5f5f;
  border-left: none;
  z-index: 5;
  &--down {
    transform: rotate(-90deg);
  }
  &--up {
    transform: rotate(90deg);
  }
}

.contentWrapper {
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 6;
}

.logo {
  width: $logo-width;
  height: auto;
  margin-left: $logo-margin-left;
  cursor: pointer;
}

.hideHeader {
  animation: moveUp 1.3s;
  animation-fill-mode: forwards;
}

.showHeader {
  animation: moveDown 1s;
  animation-fill-mode: forwards;
}

@keyframes moveDown {
  from {
    top: -95px;
  }
  to {
    top: 0;
  }
}

@keyframes moveUp {
  from {
    top: 0;
  }
  to {
    top: -95px;
  }
}