@import '../../global_styles/_variables.scss';

.Header {
  position: fixed;
  width: 100%;
  background: white;
  z-index: 5;
}

.contentWrapper {
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: $logo-width;
  height: auto;
  margin-left: $logo-margin-left;
}