@import '../../global_styles/_variables.scss';

.Header {
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: $logo-width;
  height: auto;
  margin-left: $logo-margin-left;
}