@import '../../global_styles/_variables.scss';

.ClientLogos {
  height: 140px;
  font-size: 14px;
  background: rgba(255, 255, 255, 1);
  border-radius: 18px;
  box-shadow: 0 0 2px 2px #1b398f;
  color: #434343;
  width: 105px;
  overflow: hidden;
  position: fixed;
  left: -22px;
  top: 50vh;
  transform: translateY(-50px);
  z-index: 6;
}

.underlining {
  border: 1px solid $logo-primary-color;
  margin: 0;
}

.title {
  padding: 7px;
  display: block;
  text-align: right;
  background: #1b398f;
  color: #fecc00;
  font-size: 10px;
  text-transform: uppercase;
}

.logo {
  margin-top: 35px;
  position: absolute;
  left: 150px;
  animation: moveLeft 17s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes moveLeft {
  to {
    left: -750px;
  }
}
