@import '../../global_styles/mixins';

.ServiceDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 650px) {
    display: block;
    background-attachment: scroll !important;
  }
}

.contentWrapper {
  padding: 0 7vw;
  @media screen and (max-width: 650px) {
    min-width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    min-height: 90vh;
  }
}

.image {
  display: inline-block;
  height: auto;
  @media screen and (max-width: 650px) {
    display: block;
    min-width: 100vw;
    height: auto;
    float: none !important;
  }
}

.heading {
  text-align: center;
  @include heading(2rem);
  @media only screen and (max-width: 650px) {
    @include heading(1.4rem);
    text-align: center;
  }
}

.underlining {
  width: 80px;
  border: none;
  margin-bottom: 30px;
}

.underlining--primary-color {
  border-bottom: 11px solid $logo-primary-color;
  @media only screen and (max-width: 950px) {
    border-bottom: 8px solid $logo-primary-color;
  }
}

.underlining--secondary-color {
  border-bottom: 11px solid $logo-secondary-color;
  @media only screen and (max-width: 950px) {
    border-bottom: 8px solid $logo-secondary-color;
  }
}

.text {
  @include text();
  margin-bottom: 15px;
  display: inline-block;
  a {
    color: white;
  }
  @media screen and (max-width: 650px) {
    display: block;
    font-size: .85rem;
  }
}

.listItem {
  margin-left: 10px;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.checkbox {
  width: 15px;
  height: auto;
  margin-right: 10px;
  display: inline-block;
  @media only screen and (max-width: 650px) {
    width: 10px;
  }
}
