@import '../../global_styles/mixins';

.ServicesIntro {
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.heading {
  text-align: center;
  @include heading(2rem);
}

.underlining {
  border: 11px solid $logo-secondary-color;
  width: 80px;
  border-bottom: none;
  margin-bottom: 15vh;
}

.text {
  text-align: center;
  @include text();
}

.contentWrapper {
  width: 60vw;
}