@import '../../global_styles/variables';

.Nav {
  height: 100%;
  line-height: $header-height;
}

.listItem {
  color: white;
  text-shadow: 1px 1px 0 #c3c3c3, -1px -1px #000000;
  font-weight: 400;
  font-size: 1.2rem;
  height: $header-height;
  display: inline-block;
  width: 119px;
  text-align: center;
  cursor: pointer;
  &:hover:not(&--active) {
    background: linear-gradient(to bottom right, #35373e, #4a567b);
  }
}

.listItem--active {
  background: linear-gradient(to bottom right, #272727 18%, #27396d 100%);
}
